PORT=4350
HOST=0.0.0.0
GRAPHQL_PATH=/graphql
POLKASWAP_INDEXER_BASE_URL=https://pi.soramitsu.io/graphql
STORAGE_ENGINE=postgres
DATABASE_URL=postgres://polkaswap:polkaswap@127.0.0.1:5432/polkaswap_indexer
SKIP_POSTGRES_MIGRATION=false
ROCKSDB_PATH=./data/polkaswap-indexer.rocksdb
ROCKSDB_BLOCK_CACHE_MB=512
ROCKSDB_WRITE_BUFFER_MANAGER_MB=256
ROCKSDB_PARALLELISM=4
ROCKSDB_ENABLE_STATS=false
ROCKSDB_BACKUP_DIR=./data/polkaswap-indexer-rocksdb-backups
SORA_WS_ENDPOINT=wss://mof2.sora.org
CHAIN_START_BLOCK=0
CHAIN_BATCH_SIZE=25
CHAIN_STATE_REFRESH_INTERVAL_BLOCKS=25
CHAIN_SNAPSHOT_INTERVAL_BLOCKS=25
